:root {
    --color-brand-normal: #819B57;
    --color-brand-light: #cfcfbc;
    --color-brand-dark: #465929;
    --color-primary-dark: #31261a;
    --color-primary-light: #faf4ea;
    --color-secondary-dark: #A28268;
 }

    $bp-mobile: 320px;
    $bp-tablet: 768px;
    $bp-desktop: 1280px;